.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  z-index: 10;
  color: white;
  cursor: pointer;
}

.custom-prev {
  left: 30px;
}

.custom-next {
  right: 30px;
}

.custom-arrow:hover {
  color: #f9f9f9;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
}

.overlay span {
  display: block;
  font-family: "Montserrat", sans-serif;
}

.second-comment {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
  word-break: keep-all;
}

.third-comment {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.contact {
  padding: 25px 60px;
  background-color: #5196a6;
  color: white;
  border: none;

  border-radius: 30px;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact:hover {
  background-color: #3a7a8d;
}

.main-phonecall-icon {
  margin-top: 2px;
  margin-right: 3px;
}

.arrow-img {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrow-img:hover {
  transform: translate(-50%, 0) scale(1.1);
}

.banner-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.kakao-channel-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.kakao-channel-btn:hover {
  transform: scale(1.1);
}

.kakao-channel-btn img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* 반응형 스타일 */
@media (max-width: 1024px) {
  .custom-arrow {
    font-size: 30px;
  }

  .custom-prev {
    left: 15px;
  }

  .custom-next {
    right: 15px;
  }

  .second-comment {
    font-size: 2rem;
  }

  .third-comment {
    font-size: 3rem;
  }

  .contact {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  .arrow-img {
    width: 80px;
  }

  .kakao-channel-btn img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .second-comment {
    font-size: 1.5rem;
  }

  .third-comment {
    font-size: 2.5rem;
  }

  .contact {
    padding: 8px 16px;
    font-size: 1rem;
  }

  .arrow-img {
    width: 60px;
  }

  .kakao-channel-btn {
    bottom: 20px;
    right: 20px;
  }

  .kakao-channel-btn img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .custom-arrow {
    font-size: 25px;
  }

  .second-comment {
    font-size: 1.2rem;
  }

  .third-comment {
    font-size: 2rem;
  }

  .contact {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .arrow-img {
    width: 50px;
  }

  .overlay {
    top: 15%;
  }
}

.video-container {
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.video-player {
  width: 80%; /* 비디오 너비를 화면의 80%로 설정 */

  max-width: 1200px; /* 비디오 최대 너비를 제한 */
  max-height: 700px; /* 비디오 최대 높이를 제한 */
  object-fit: contain; /* 비디오 비율을 유지하며 컨테이너에 맞춤 */
}

@media (max-width: 768px) {
  .video-container {
    height: auto;
    padding: 20px 0;
  }
}

.GifContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
  cursor: pointer; /* 클릭 가능한 요소로 설정 */

  img {
    width: 100%;
    max-width: 1200px; /* 최대 너비 제한 */

    height: auto; /* 비율을 유지하며 크기 조정 */
    transition: transform 0.3s ease; /* 클릭 시 애니메이션 효과 */
  }

  img:hover {
    transform: scale(1.05); /* 마우스 오버 시 확대 효과 */
  }

  /* 반응형 스타일 */
  @media (max-width: 1024px) {
    img {
      max-width: 900px; /* 태블릿에서 크기 조정 */
    }
  }

  @media (max-width: 768px) {
    img {
      max-width: 600px; /* 모바일에서 크기 조정 */
    }
  }

  @media (max-width: 480px) {
    img {
      max-width: 100%; /* 작은 화면에서 너비를 화면 전체로 설정 */
    }
  }
}

.gif-banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  cursor: pointer; /* 클릭 가능한 요소로 설정 */

  img {
    margin-right: 180px;
    width: 100%;
    max-width: 1200px; /* 최대 너비 제한 */
    height: auto; /* 비율을 유지하며 크기 조정 */
    transition: transform 0.3s ease; /* 클릭 시 애니메이션 효과 */
  }

  img:hover {
    transform: scale(1.05); /* 마우스 오버 시 확대 효과 */
  }

  /* 반응형 스타일 */
  @media (max-width: 1024px) {
    img {
      max-width: 900px; /* 태블릿에서 크기 조정 */
    }
  }

  @media (max-width: 768px) {
    img {
      max-width: 600px; /* 모바일에서 크기 조정 */
    }
  }

  @media (max-width: 480px) {
    img {
      max-width: 100%; /* 작은 화면에서 너비를 화면 전체로 설정 */
    }
  }
}

.image-banner-container {
  width: 100%;
  display: flex;
  margin-right: 250px;
  justify-content: center;
  margin: 20px 0; /* 위아래 간격 */
}

.image-banner {
  width: 100%; /* 화면 너비의 90% */
  max-width: 1500px; /* 최대 너비를 제한 */
  height: auto; /* 높이를 비율에 맞게 조정 */

  border-radius: 10px; /* 이미지의 모서리를 둥글게 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 이미지에 그림자 추가 */
  object-fit: cover; /* 이미지 비율 유지 */
}
