* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body, .image-container {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #2a2626;
  color: white;
  position: relative; /* 위치 조정 */
}

.navbar-logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links ul li {
  display: inline-block;
}

.navbar-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
  margin-left: 50px;
}

.navbar-links ul li a:hover {
  color: #5196a6;
}

.navbar-contact {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.call-icon {
  font-size: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.hamburger-icon {
  display: none; /* 기본적으로 숨김 */
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none; 
    position: absolute; 
    top: 70px; 
    left: 0;
    right: 0;
    background-color: #2a2626; 
    flex-direction: column; 
  }

  .navbar-links.active {
    display: flex; /* active 클래스가 추가되면 보이도록 설정 */
  }

  .navbar-links ul {
    flex-direction: column; /* 세로 정렬 */
    gap: 10px; /* 간격 조정 */
  }

  .hamburger-icon {
    display: block; /* 모바일에서만 보이도록 설정 */
  }
}
