.footer-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 5%;
  background-color: white;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid black;
}

.footer-logo {
  margin-top: 3%;
  width: 180px;
  margin-left: 5%;
  height: auto;
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin-right: 30%;
  text-align: left;
}

.footer-infos {
  font-size: 16px;

  color: black;
}

.footer-company-info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.footer-company-infos {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;
}

.footer-company-infos-login {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;
  margin-left: 10%;
}

.footer-disclaimer {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-title {
    font-size: 28px;
  }

  .footer-contact {
    font-size: 20px;
  }

  .footer-infos,
  .footer-company-infos {
    font-size: 14px;
  }

  .footer-disclaimer {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .footer-title {
    font-size: 24px;
  }

  .footer-contact {
    font-size: 18px;
  }

  .footer-infos,
  .footer-company-infos {
    font-size: 12px;
  }

  .footer-disclaimer {
    font-size: 10px;
  }
}
